<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="eu.darken.porter" />
    </queries>
    <permission-group android:name="moe.shizuku.manager.permission-group.API"
        android:label="@string/app_name" />
    <permission android:name="moe.shizuku.manager.permission.API_V23"
        android:protectionLevel="dangerous"
        android:permissionGroup="moe.shizuku.manager.permission-group.API"
        android:label="@string/permission_label"
        android:description="@string/permission_description" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_porter"
        android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".OpenPorterActivity" android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="moe.shizuku.manager.intent.action.REQUEST_PERMISSION" />
                <action android:name="moe.shizuku.privileged.api.intent.action.REQUEST_PERMISSION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".BinderRequestReceiver" android:exported="true">
            <intent-filter>
                <action android:name="rikka.shizuku.intent.action.REQUEST_BINDER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
